# Results statistics

In [4]:
import pandas as pd
import math

### Averages for each family

In [48]:
df = pd.read_csv("results_proteins/res_fam_prot_angles.csv")
del df['Iteration']
f1 = []
acc = []
df['F1'] = 2.0 * df['Prec'] * df['Recall'] / (df['Prec'] + df['Recall'])
df['Acc'] = (df['TP'] + df['TN']) / (df['TP'] + df['TN'] + df['FP'] + df['FN'])
df.head()

,Superfamily,TP,TN,FP,FN,Prec,Recall,Spec,AUC,F1,Acc
0,fam_1,9,45,1,0.0,0.900000,1.0,0.978261,0.989130,0.947368,0.981818
1,fam_2,8,18,29,0.0,0.216216,1.0,0.382979,0.691489,0.355556,0.472727
2,fam_3,6,45,4,0.0,0.600000,1.0,0.918367,0.959184,0.750000,0.927273
3,fam_4,6,47,2,0.0,0.750000,1.0,0.959184,0.979592,0.857143,0.963636
4,fam_5,5,50,0,0.0,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [49]:
print("Precision")
avg_fam = df.groupby(['Superfamily'])['Prec'].agg(['mean', 'count', 'std'])
avg_fam
ci = []
for i in avg_fam.index:
    m, c, s = avg_fam.loc[i]
    ci.append(1.96*s/math.sqrt(c))
avg_fam['ci95'] = ci
avg_fam

Precision

                 mean  count       std      ci95
Superfamily
fam_1        0.615920     20  0.244393  0.107110
fam_2        0.453744     20  0.327734  0.143636
fam_3        0.528096     20  0.097105  0.042558
fam_4        0.756056     20  0.176840  0.077504
fam_5        0.991667     20  0.037268  0.016333
fam_6        0.833333     20  0.000000  0.000000
fam_7        0.750487     20  0.058397  0.025593
fam_8        0.357143     20  0.000000  0.000000
fam_9        0.682692     20  0.325679  0.142735

In [50]:
print("Recall")
avg_fam = df.groupby(['Superfamily'])['Recall'].agg(['mean', 'count', 'std'])
avg_fam
ci = []
for i in avg_fam.index:
    m, c, s = avg_fam.loc[i]
    ci.append(1.96*s/math.sqrt(c))
avg_fam['ci95'] = ci
avg_fam

Recall

             mean  count  std  ci95
Superfamily
fam_1         1.0     20  0.0   0.0
fam_2         1.0     20  0.0   0.0
fam_3         1.0     20  0.0   0.0
fam_4         1.0     20  0.0   0.0
fam_5         1.0     20  0.0   0.0
fam_6         1.0     20  0.0   0.0
fam_7         1.0     20  0.0   0.0
fam_8         1.0     20  0.0   0.0
fam_9         1.0     20  0.0   0.0

In [51]:
print("Spec")
avg_fam = df.groupby(['Superfamily'])['Spec'].agg(['mean', 'count', 'std'])
avg_fam
ci = []
for i in avg_fam.index:
    m, c, s = avg_fam.loc[i]
    ci.append(1.96*s/math.sqrt(c))
avg_fam['ci95'] = ci
avg_fam

Spec

                 mean  count       std      ci95
Superfamily
fam_1        0.827174     20  0.143071  0.062704
fam_2        0.597872     20  0.288106  0.126268
fam_3        0.879592     20  0.068459  0.030004
fam_4        0.951020     20  0.044120  0.019336
fam_5        0.999000     20  0.004472  0.001960
fam_6        0.980000     20  0.000000  0.000000
fam_7        0.958163     20  0.015493  0.006790
fam_8        0.820000     20  0.000000  0.000000
fam_9        0.913000     20  0.089507  0.039228

In [52]:
print("AUC")
avg_fam = df.groupby(['Superfamily'])['AUC'].agg(['mean', 'count', 'std'])
avg_fam
ci = []
for i in avg_fam.index:
    m, c, s = avg_fam.loc[i]
    ci.append(1.96*s/math.sqrt(c))
avg_fam['ci95'] = ci
avg_fam

AUC

                 mean  count       std      ci95
Superfamily
fam_1        0.913587     20  0.071536  0.031352
fam_2        0.798936     20  0.144053  0.063134
fam_3        0.939796     20  0.034230  0.015002
fam_4        0.975510     20  0.022060  0.009668
fam_5        0.999500     20  0.002236  0.000980
fam_6        0.990000     20  0.000000  0.000000
fam_7        0.979082     20  0.007746  0.003395
fam_8        0.910000     20  0.000000  0.000000
fam_9        0.956500     20  0.044754  0.019614

In [53]:
print("F1")
avg_fam = df.groupby(['Superfamily'])['F1'].agg(['mean', 'count', 'std'])
avg_fam
ci = []
for i in avg_fam.index:
    m, c, s = avg_fam.loc[i]
    ci.append(1.96*s/math.sqrt(c))
avg_fam['ci95'] = ci
avg_fam

F1

                 mean  count       std      ci95
Superfamily
fam_1        0.736294     20  0.182156  0.079833
fam_2        0.563258     20  0.284776  0.124809
fam_3        0.685801     20  0.089932  0.039414
fam_4        0.849900     20  0.117575  0.051529
fam_5        0.995455     20  0.020328  0.008909
fam_6        0.909091     20  0.000000  0.000000
fam_7        0.856173     20  0.040753  0.017861
fam_8        0.526316     20  0.000000  0.000000
fam_9        0.767544     20  0.238693  0.104612

In [54]:
avg_fam['mean'].agg(['mean', 'count', 'std'])

mean     0.765537
count    9.000000
std      0.155789
Name: mean, dtype: float64

In [55]:
print("Acc")
avg_fam = df.groupby(['Superfamily'])['Acc'].agg(['mean', 'count', 'std'])
avg_fam
ci = []
for i in avg_fam.index:
    m, c, s = avg_fam.loc[i]
    ci.append(1.96*s/math.sqrt(c))
avg_fam['ci95'] = ci
avg_fam

Acc

                 mean  count       std      ci95
Superfamily
fam_1        0.855455     20  0.119660  0.052443
fam_2        0.656364     20  0.246199  0.107902
fam_3        0.892727     20  0.060991  0.026730
fam_4        0.956364     20  0.039307  0.017227
fam_5        0.999091     20  0.004066  0.001782
fam_6        0.981818     20  0.000000  0.000000
fam_7        0.962727     20  0.013803  0.006049
fam_8        0.836364     20  0.000000  0.000000
fam_9        0.920909     20  0.081370  0.035662

In [56]:
avg_fam['mean'].agg(['mean', 'count', 'std'])

mean     0.895758
count    9.000000
std      0.105680
Name: mean, dtype: float64

### Averages Overall

In [8]:
df = pd.read_csv("/Users/carminacodre/Desktop/results_proteins/res_avg_conf_sa.csv")
del df['Iteration']
df

        Prec    Recall      Spec       AUC
0   0.816583  0.999944  0.969755  0.984850
1   0.815758  0.999893  0.965287  0.982590
2   0.881138  0.999872  0.978952  0.989412
3   0.823408  0.999841  0.965497  0.982669
4   0.832098  0.999922  0.969204  0.984563
5   0.869180  0.999867  0.977215  0.988541
6   0.803607  0.999862  0.955726  0.977794
7   0.822051  0.999771  0.968370  0.984071
8   0.790570  0.999915  0.947329  0.973622
9   0.777384  0.999976  0.956883  0.978429
10  0.891150  0.999787  0.983823  0.991805
11  0.863394  0.999812  0.976885  0.988349
12  0.833571  0.999817  0.970683  0.985250
13  0.826112  0.999904  0.967238  0.983571
14  0.855072  0.999875  0.974803  0.987339
15  0.777392  0.999926  0.946363  0.973145
16  0.810878  0.999899  0.967710  0.983805
17  0.840024  0.999899  0.970711  0.985305
18  0.788451  0.999938  0.958813  0.979376
19  0.862202  0.999909  0.969091  0.984500

In [9]:
avg = df.agg(['mean', 'count', 'std']).T
ci = []
for i in avg.index:
    m, c, s = avg.loc[i]
    ci.append(1.96*s/math.sqrt(c))
avg['ci95'] = ci
avg

            mean  count       std      ci95
Prec    0.829001   20.0  0.033366  0.014623
Recall  0.999881   20.0  0.000054  0.000024
Spec    0.967017   20.0  0.009867  0.004325
AUC     0.983449   20.0  0.004920  0.002156